* {
  padding: 0;
  margin: 0;
}

header {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
}

.content {
  width: 1100px;
  margin: 0 auto;
}

.menu {
  width: 500px;
}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
}

.menu ul li a {
  text-decoration: none;
  color: #ffff;
}

.index a {
  text-decoration: none;
  color: #ffff;
  font-family: cursive;
}

.introducao {
  background: url("img/imagesproj.jpg") no-repeat center;
  background-size: cover;
  height: 450px;
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introducao h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 35px;
}

.introducao p {
  font-size: 16px;
  margin-top: 10px;
}

.btn {
  margin-top: 30px;
  background-color: #139f73;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
}

/* ---------------sobre-------------------- */

.sobre {
  height: 250px;
  background-color: #139f73;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sobre h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding-bottom: 30px;
}

.sobre p {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.sobrebt {
  background-color: #ffffff;
  color: gray;
}

/* ----------------------serviços----------------- */

.servico-tema {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(82, 82, 82);
}

.servicos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  gap: 15px;
}

.img1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.servicos h3 {
  padding-bottom: 10px;
  color: rgb(82, 82, 82);
}

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.img-port {
  width: 33.3%;
  height: 350px;
}

/* ------------------- contato --------------- */

.contato {
  margin-bottom: 30px;
}

.contato p {
  color: gray;
  text-align: center;
  margin-top: -25px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 35px;
}

.caixa-contato {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.img-cont1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-cont1 img {
  width: 50px;
}

.contbt {
  text-transform: none;
  font-size: 14px;
  padding: 10px;
}

.footer-fim {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #000000;
}

.footer-fim a {
  margin-top: 10px;
  color: #ffffff;
}
